@model MatriculaProway.Models.Matricula

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatriculaId" />
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label"></label>
                <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                <span asp-validation-for="AlunoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etapa1" class="control-label"></label>
                <select asp-for="Etapa1" class="form-control" asp-items="ViewBag.Etapa1"></select>
                <span asp-validation-for="Etapa1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etapa2" class="control-label"></label>
                <select asp-for="Etapa2" class="form-control" asp-items="ViewBag.Etapa2"></select>
                <span asp-validation-for="Etapa2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno1Lanchonete" class="control-label"></label>
                <select asp-for="Turno1Lanchonete" class="form-control" asp-items="ViewBag.Turno1Lanchonete"></select>
                <span asp-validation-for="Turno1Lanchonete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno2Lanchonete" class="control-label"></label>
                <select asp-for="Turno2Lanchonete" class="form-control" asp-items="ViewBag.Turno2Lanchonete"></select>
                <span asp-validation-for="Turno2Lanchonete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
